TONGYUAN_OWNER_EMAIL=
TONGYUAN_ALLOWED_EMAILS=
TONGYUAN_SYNC_ENDPOINT=
TONGYUAN_SYNC_SECRET=
TONGYUAN_OPENAI_BASE_URL=
TONGYUAN_OPENAI_API_KEY=
TONGYUAN_CHAT_MODEL=
TONGYUAN_EMBEDDING_MODEL=
TONGYUAN_PERMISSION_SCOPES=owner_only,redacted
